<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d3d3d;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }
  header ul a {
    color: aquamarine;
    text-decoration: none;
  }
  header ul li a:hover {
    opacity: 0.5;
    transition: all 0.2s ease-in;
  }
</style>
<header>
  <h1>music ocean</h1>
  <ul>
    <li><a href="">last musics</a></li>
    <li><a href="">new trending songs</a></li>
    <li><a href="">artists list</a></li>
    <li>
      <a href="">categories</a>
    </li>
  </ul>
</header>
